:root {
    --color-blue: #2699F6;
    --color-blue-light: #00AFF0;
    --color-gray: #777777;
    --color-black: #030D10;
    --color-orange: #E6A639;
    --color-purple: #BF00F0;
    --color-black-blue: #0F0F0F;
    --color-green: #75b66f;  

}
